*{
     
    text-align: center;
    
}
h1{
    
  background-color: beige;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 60px;
    border-radius: 10px;
}
h2{
    color: #04001;
    background-color:  beige;
}
p{
    /* background-color: beige; */
}
.row{
    background-color: beige;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0PX 0PX 2px black;
}
.meals{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.snacks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.row:hover{
    box-shadow: 0PX 0PX 5px black;
}

footer {
    background-color: #04001a;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  footer a:hover {
    color:aqua;
  }
  
  .footer-social {
    margin-top: 10px;
  }
  
  .footer-social a {
    margin-right: 5px;
  }
  
