.customer-testimonials {
  text-align: center;
padding-top: 0px;
}

.testimonial {
  border: 1px solid rgb(16, 3, 83);
  padding: 20px;
  margin: 20px 0;
  background-color: beige;
}
r1{
  background-color: beige;
  color: rgb(9, 0, 53);
  
}
h1{
  color:rgb(9, 0, 53);
  background-color: beige;
  border-radius: 10PX;
}
.review{
  height: 100px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(9, 0, 53);
}
strong{
  background-color: beige;
}

*{
  font-family: "Ubuntu", serif;
    font-weight: 200;
    font-style: normal;
  }

  .row{
    display: flex;
    position: relative;
    top: 30px;
    left: 70PX;
    flex-direction: row;
    justify-content: center;
  }
  
  h1{
    position: relative;
    top: 20px;
    text-align: center;
    font-weight: 400px;
    font-size: 60px;
}

.card{
    box-shadow:0px 0px 2px black ;
    height: 370px;
    margin-top: 20px;
    
}

.card:hover{
    box-shadow:0px 0px 4px black ;
}

footer {
  background-color: #04001a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer a:hover {
  color:aqua;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  margin-right: 5px;
}

.r1{
  font-weight: 400;
}