*{
    font-family: "Ubuntu", serif;
      font-weight: 200;
      font-style: normal;
    }
  
    .col{
      display: flex;
      position: relative;
      top: 30px;
      left: 20PX;
      flex-direction: row;
      justify-content: center;
    }
    
    h1{
      position: relative;
      top: 20px;
      text-align: center;
      font-weight: 400px;
      font-size: 60px;
      background-color: beige;
     ;
      border-radius: 10px;
      
  }
  
  .card{
      box-shadow:0px 0px 2px black ;
      height: 270px;
      margin-top: 20px;
      text-align: center;
  }

  .card:hover{
    box-shadow:0px 0px 4px black ;
}
h5{
  padding-top: 0;
  font-size: 30px;
  text-align: center;
}